@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

* {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');


@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap');

@import url('https://fonts.googleapis.com/css?family=Audiowide');

.main-page {
  background-color: #000000;
  // background: linear-gradient(
  //   rgba(#0f111a, 0.8),
  //   rgba(#0f111a, 0.8)
  // ),

}

$colors: #F2385A, #F5A503, #E9F1DF, #56D9CD, #3AA1BF;
$max: length($colors);
$dash: 70;
$dash-gap: 10;
$dash-space: $dash * ($max - 1) + $dash-gap * $max;
$time: 6s;
$time-step: $time/$max;

/* Main styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

.text {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: $dash $dash-space;
  stroke-dashoffset: 0;
  -webkit-animation: stroke $time infinite linear;
  animation: stroke $time infinite linear;

  @for $item from 1 through $max {
    &:nth-child(#{$max}n + #{$item}) {
      $color: nth($colors, $item);
      stroke: $color;
      -webkit-animation-delay: -($time-step * $item);
      animation-delay: -($time-step * $item);
    }
  }
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -($dash + $dash-gap) * $max;
  }
}




.main-header {
  position: fixed;
  width: 100%;
  opacity: 80%;
  font-size: 1.3rem;
  color: #a1a7e4;
  background-color: #101224;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .main-header-sf {
    padding: 1.2rem;
  }

  .main-header-icon {
    margin: 0 1.2rem 0 1.2rem;
  }

  .main-btns {
    font-family: 'Fira Code', monospace;
    display: flex;
    flex-direction: row;
    // font-family: 'Open Sans Condensed', sans-serif;
    .main-title-btn {
      padding: 1.2rem;
    }

    .link {
      // border-width: 2px;
      // border-style: solid;
      // border-color: #26293f;
      border-radius: 10px;
      margin: 1.2rem;
      // background-color: #5b6c7d;
      font-size: 1rem;
      cursor: pointer;
      color: #FFF;
  transition: all 0.3s;
  position: relative;color: #FFF;
    }

    .link:hover span {
      // background: #a1a7e4;
      // color: #141628;
      letter-spacing: 2px;
    }

    .link::before {
      content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
    }
    .link:hover::before{
      opacity: 1; 
  transform: scale(1, 1);

    }
    .link::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      transition: all 0.3s;
      background-color: rgba(0, 12, 17, 0.1);
    }

    .link:hover::after {
      opacity: 0;
      transform: scale(0.1, 1);
    }
  }
}

.main-title {
  background: linear-gradient(to bottom, #6495ED, #F08080);
  color: #131a5c;
  font-family: 'Roboto Slab', serif;
  font-size: 3rem;
  padding: 1rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .link {
    color: #fff;
    padding: 0.6rem 1rem;
    background-color: #f54a6e;
    border-radius: 5px;
    transition: all 10s ease-in-out; 

    font-size: 1.2rem;
    cursor: pointer;

    &:hover {
      background-color: #ee1544;
    }
  }

  animation: changeBackground 20s ease-in-out infinite;
  background-size: cover;
  
}

@keyframes changeBackground {
  0% {
    background-image: url("../assets/landing-1.jpg");
  }
  20% {
    background-image: url("../assets/landing-2.jpg");
  }
  40% {
    background-image: url("../assets/landing-3.jpg");
  }
  60% {
    background-image: url("../assets/landing-4.jpg");
  }
  80% {
    background-image: url("../assets/landing-5.jpg");
  }
  100% {
    background-image: url("../assets/landing-1.jpg");
  }
}


.inside-img {
  height: 100%;
  width: auto;
  background: url('../assets/webflow.png');
  background-size: cover;
}



.bg_move {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  //  rgba(143, 187, 255, 0.8) 16%, rgba(143, 187, 255, 0.8) 20%, rgba(80, 138, 190, 0.8) 20%, rgba(80, 138, 190, 0.8) 24%);
  background: repeating-radial-gradient(circle at 100% 100%, rgba(0, 0, 55, 0.6) 4%, rgba(0, 61, 107, 0.6) 8%, rgba(0, 14, 20, 0.6) 8%,
      rgba(11, 40, 54, 0.6) 12%, rgba(49, 67, 89, 0.6) 12%, rgba(49, 67, 89, 0.6) 16%, rgba(87, 118, 156, 0.6) 16%, rgba(87, 118, 156, 0.8) 20%, rgba(32, 73, 129, 0.6) 20%, rgba(32, 73, 129, 0.6) 24%), repeating-radial-gradient(circle at 0% 100%, rgba(0, 61, 107, 0.8) 4%,
      rgba(0, 61, 107, 1) 8%, rgba(49, 155, 207, 0.8) 8%, rgba(11, 40, 54, 1) 12%, rgba(49, 67, 89, 0.8) 12%, rgba(49, 67, 89, 1) 16%,
      rgba(87, 118, 156, 0.9) 16%, rgba(87, 118, 156, 0.9) 20%, rgba(32, 73, 129, 0.9) 20%, rgba(32, 73, 129, 0.9) 24%);

  background-size: 250px 250px;
  background-position: 0 0;
  -webkit-animation: stripes 3s linear infinite;
  animation: stripes 3s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.bg_move h1 {
  font-size: 6rem;
  font-family: sans-serif;
}

.bg_move i {
  font-size: 8rem;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 6px;
  }
}

@-webkit-keyframes stripes {
  100% {
    background-position: 250px 0, 250px 0, 100px 0;
  }
}

@keyframes stripes {
  100% {
    background-position: 250px 0, 250px 0, 100px 0;
  }
}


